* {
    color: rgb(234, 0, 255);
    transition: 2s, ease-in, .3s;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculatorBody {
    display: block;
    max-width: 50vh;
    min-width: 40vh;
    > .outPutDiv {
            display: flex;
            align-items: center;
            justify-content:start;
            > a {
                padding-left: 20px;
            }
        }
    > div {
        display: flex;
        padding: 10px;
        background-color: black;
        border: 2px, orange, solid;
        
        > button {
            padding: 10px;
            flex-grow: 1;
            margin-inline: 5px;
            font-size: 20px;
            cursor: pointer;
            
        }
        > button:hover {
            background-color: rgb(255, 0, 0);
            }
    }
}